@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),  url('./assets/Ovation.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
